<div class="row">
  <div class="col-md-8">
      <h3>Send us a Message</h3>
      <%= form_for :contact, html: { id: "contactForm", name: "sentMessage", novalidate: "novalidate" } do |f| %>
        <div class="control-group form-group">
          <div class="controls">
            <%= f.label :name, "Full Name:"%>
            <%= f.text_field :name, class: "form-control", id: "name" %>
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <%= f.label :phone_number, "Phone Number:"%>
            <%= f.telephone_field :phone_number, class: "form-control", id: "phone" %>
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <%= f.label :email, "Email Address:"%>
            <%= f.email_field :email, class: "form-control", id: "email" %>
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <%= f.label :message, "Message:"%>
            <%= f.text_area :message, class: "form-control", rows: "10", cols: "100", id: "message", maxlength: "999", style: "resize:none"  %>
          </div>
        </div>
        <div id="success"></div>
        <%= f.submit "Send Message", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>


        <!-- <div class="row">
            <div class="col-md-8">
                <h3>Send us a Message</h3>
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Full Name:</label>
                            <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                        </div>
                    </div> -->
